@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,700&display=swap");
html {
  background-color: #e4e9fd;
  background-image: -webkit-linear-gradient(65deg, #a683e3 50%, #e4e9fd 50%);
  min-height: 1000px;
  font-family: "helvetica neue";
}

h1 {
  color: #fff;
  padding: 10px;
  font-family: "Dancing Script", cursive;
}

h2 {
  margin-top: 20px;
  font-size: 16px;
  margin-bottom: 0;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

h6 {
  margin: 0;
}

.link {
  align-items: center;
  width: 90%;
  height: 40px;
  border: #a683e3 solid 1px;
  display: flex;
  justify-content: space-between;
  background-color: #e4e9fd;
}
.link input {
  border: none;
  background-color: transparent;
  width: 100%;
}
.link button {
  height: 44px;
  width: 100px;
  font-weight: 900;
  border-radius: 0px !important;
  color: #000;
}

#heading {
  background-color: #a683e3;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.input-form {
  min-height: 70px;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  justify-content: center;
  padding: 10px;
}

.item-input {
  width: 60%;
  margin-left: 10px;
  padding: 0px 10px;
}

.item:last-child {
  border-bottom: 0;
}

.decorated {
  text-decoration: line-through;
  text-decoration-color: #a683e3;
}

input[type="checkbox"] {
  /* margin: 10px; */
  cursor: pointer;
}

p {
  margin: 0;
  width: 100%;
  padding: 20px;
  font-size: 18px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 5px;
  margin-top: 30px;
  justify-content: space-between;
  padding: 10px;
}
.button-contain {
  display: flex;
}
.button {
  min-height: 30px;
  margin-top: 10px;
  border-radius: 5px;
  border-color: transparent;
  background-color: #a683e3;
  color: #fff;
  border-width: 0;
  font-weight: 900;
  cursor: pointer;
  padding: 5px 20px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #383636 1px solid;
  margin: 10px auto;
  display: block;
}
.copy {
  background-color: #eee;
}
.button-spin {
  border-color: transparent;
  background-color: transparent;
  margin: 0 auto;
  display: block;
}

input[type="text"] {
  height: 40px;
  background: transparent;
  font-size: 14px;
  font-weight: 100;
  width: 90%;
  font-weight: 700;
}

input[type="text"]:focus {
  outline: none;
  /* box-shadow: inset 0 -3px 0 0 #a683e3; */
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.item-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.err-container {
  position: relative;
}
.err-button {
  position: absolute;
  right: 10px;
  border-radius: 50%;
  background-color: rgb(179, 62, 62);
  border: none;
  font-weight: 200;
  width: 20px;
  height: 20px;
  color: #fff;
  cursor: pointer;
}
.err-button :hover {
  background-color: #383636;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  width: 100%;
}
.item-container input {
  font-size: 12px;
  font-weight: 100;
  color: #00204a;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 20px;
  height: 20px;
  border: 8px solid #a683e3; /* Light grey */
  border-top: 8px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
